/* Ember font link  */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Declare custom variables  */
/*  Primary */
:root {
  --purple50: hsl(260, 100%, 95%);
  --purple300: hsl(264, 82%, 80%);
  --purple500: hsl(263, 55%, 52%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --grey100: hsl(214, 17%, 92%);
  --grey200: hsl(0, 0%, 81%);
  --grey400: hsl(224, 10%, 45%);
  --grey500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--grey200);
  margin: 0;
  color: var(--White);
}

h5 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.student-card {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.student-profile {
  display: flex;
  gap: 1rem;
}

.student-profile > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.student-details {
  align-self: center;
}
.student-details > img {
  align-self: flex-end;
}
.student-details small {
  font-size: 0.8rem;
}
.student-card > h5 {
  font-size: 16px;
  margin: 0.5rem;
}
.student-card > p {
  opacity: 0.5;
}
.daniel {
  background-color: var(--purple500);
}
.daniel img {
  border: 2px solid var(--purple300);
}
.jonathan {
  background-color: var(--grey500);
}
.jeanette,
.kira {
  background-color: var(--grey100);
  color: var(--dark-blue);
}
.patrick {
  background-color: var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--black);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .container {
    padding: 2rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .student-card {
    margin: 0;
  }
  .daniel {
    grid-column: span 2;
    grid-row: 1;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-position: 95% 5%;
    background-repeat: no-repeat;
  }
  .jonathan {
    grid-row: 1;
    grid-column: 3;
  }
  .jeanette {
    grid-column: 1;
    grid-row: 2;
  }
  .kira {
    grid-column: 4;
    grid-row: span 2;
  }

  .patrick {
    grid-row: 2;
    grid-column: span 2;
  }
}
